---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';
import { DayIcon, NightIcon } from '@/components/common/icons';

type Props = HTMLAttributes<'button'>;
const { class: className = '' } = Astro.props;
---

<button
  id="theme-toggle"
  class={twMerge(
    'inline-flex h-9 w-9 items-center justify-center rounded-md px-0 py-2 hover:bg-secondary hover:text-secondary-foreground',
    className,
  )}
  {...Astro.props}
>
  <DayIcon class="block h-[1.5rem] w-[1.5rem] dark:hidden" />
  <NightIcon class="hidden h-[1.5rem] w-[1.5rem] dark:block" />
</button>

<script is:inline>
  const theme = localStorage.getItem('theme') ?? 'light';
  const html = document.querySelector('html');
  html.classList.add(theme);

  const themeToggle = document.querySelector('#theme-toggle');

  themeToggle.addEventListener('click', () => {
    const html = document.querySelector('html');
    html.classList.toggle('dark');
    localStorage.setItem('theme', html.classList.contains('dark') ? 'dark' : 'light');
  });
</script>
