---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;
const { class: className = '' } = Astro.props;
---

<div class={twMerge('flex flex-col space-y-1.5 text-center sm:text-left', className)} {...Astro.props}>
  <slot />
</div>
