---
import { twMerge } from 'tailwind-merge';

type Props = JSX.IntrinsicElements['div'];
const { class: className = '' } = Astro.props;
---

<div class={twMerge('flex flex-col space-y-1.5 text-center sm:text-left', className)} {...Astro.props}>
  <slot />
</div>
