---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string | string[];
};

const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<p class={twMerge('text-sm text-muted-foreground', className, classList)}>
  <slot />
</p>
