---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string | string[];
};

const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<div class={twMerge('flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2', className, classList)}>
  <slot />
</div>
