---
import { twMerge } from 'tailwind-merge';

type Props = JSX.IntrinsicElements['h2'];
const { class: className = '' } = Astro.props;
---

<h2 class={twMerge('text-lg font-semibold leading-none tracking-tight', className)} {...Astro.props}>
  <slot />
</h2>
