---
import { twMerge } from 'tailwind-merge';
export type Props = {
  class?: string;
};
const { class: className = '' } = Astro.props;
---

<h3 class:list={twMerge(['font-semibold leading-none tracking-tight', className])}>
  <slot />
</h3>
