---
import { twMerge } from 'tailwind-merge';
export type Props = {
  class?: string;
  'class:list'?: string;
};
const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<div class:list={twMerge(['justify-between p-6 pt-0 items-center flex', className, classList])}>
  <slot />
</div>
