---
import { twMerge } from 'tailwind-merge';

type Props = JSX.IntrinsicElements['div'];
const { class: className = '' } = Astro.props;
---

<div class={twMerge('rounded-xl border shadow bg-card text-card-foreground', className)} {...Astro.props}>
  <slot />
</div>
