---
import { twMerge } from 'tailwind-merge';

type Props = JSX.IntrinsicElements['div'];
const { class: className = '' } = Astro.props;
---

<div class={twMerge('justify-between p-6 pt-0 items-center flex', className)} {...Astro.props}>
  <slot />
</div>
