---
export type Props = {
  class?: string;
};

const { class: className = '' } = Astro.props;
---

<div class:list={[className, 'flex-col rounded-xl border shadow bg-card text-card-foreground']}>
  <slot />
</div>
