---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string | string[];
};
const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<div class:list={twMerge(['p-6 pt-0', className, classList])}>
  <slot />
</div>
