---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string;
};
const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<div class:list={twMerge(['flex-col rounded-xl border shadow bg-card text-card-foreground', className, classList])}>
  <slot />
</div>
