---
import { twMerge } from 'tailwind-merge';
export type Props = {
  class?: string;
  desc: string;
};
const { class: className = '', desc } = Astro.props;
---

<p class:list={twMerge(['text-sm text-muted-foreground', className])}>{desc}</p>
