---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string | string[];
};
const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<h3 class:list={twMerge(['font-semibold leading-none tracking-tight', className, classList])}>
  <slot />
</h3>
