---
import { twMerge } from 'tailwind-merge';

type Props = JSX.IntrinsicElements['p'];
const { class: className = '' } = Astro.props;
---

<p class={twMerge('text-sm text-muted-foreground', className)} {...Astro.props}>
  <slot />
</p>
