---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'label'>;
const { class: className = '' } = Astro.props;
---

<label
  class={twMerge(
    'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
    className,
  )}
  {...Astro.props}
>
  <slot />
</label>
