---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string | string[];
};
const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<div class="w-full overflow-auto">
  <table class={twMerge('w-full text-sm', className, classList)}>
    <slot />
  </table>
</div>
