---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'table'>;
const { class: className = '' } = Astro.props;
---

<div class="w-full overflow-auto">
  <table class={twMerge('w-full text-sm', className)} {...Astro.props}>
    <slot />
  </table>
</div>
