---
import { twMerge } from 'tailwind-merge';
type Props = {
  class?: string;
  'class:list'?: string | string[];
};
const { class: className = '', 'class:list': classList = '' } = Astro.props;
---

<td class:list={twMerge(['p-2 align-middle', className, classList])}>
  <slot />
</td>
