---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'td'>;
const { class: className = '' } = Astro.props;
---

<td class={twMerge('p-2 align-middle', className)} {...Astro.props}>
  <slot />
</td>
