---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'p'>;
const { class: className = '' } = Astro.props;
---

<p class={twMerge('text-sm text-muted-foreground', className)} {...Astro.props}>
  <slot />
</p>
